<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clock.systemui">

    <application
        android:name=".SystemUiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.translucentbar.ImageTranslucentBarActivity"
            android:label="@string/image_translucent_bar"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".ui.activity.translucentbar.ColorTranslucentBarActivity"
            android:label="@string/color_translucent_bar"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".ui.activity.translucentbar.BestTranslucentBarActivity"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".ui.activity.toolbar.ToolBarActivity"
            android:label="@string/tool_bar" />
        <activity
            android:name=".ui.activity.toolbar.ZhiHuActivity"
            android:label="@string/zhi_hu"
            android:theme="@style/Theme.ZhiHu" />
        <activity
            android:name=".ui.activity.navigation.SimpleDrawerActivity"
            android:label="@string/simple_drawer" />
        <activity
            android:name=".ui.activity.navigation.SimpleNavigationDrawerActivity"
            android:label="@string/simple_navigation_drawer"
            android:theme="@style/Theme.Translucent.Navigation" />
        <activity
            android:name=".ui.activity.navigation.CloudMusicActivity"
            android:theme="@style/Theme.Translucent.Navigation" />
        <activity android:name=".ui.activity.navigation.NavigationDrawerAnimationActivity" />
    </application>

</manifest>
