<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clock.systemui">

    <application
        android:name=".SystemUiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.translucent.ImageTranslucentBarActivity"
            android:label="@string/image_translucent_bar"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.translucent.ColorTranslucentBarActivity"
            android:label="@string/color_translucent_bar"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.translucent.BestTranslucentBarActivity"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.toolbar.ToolBarActivity"
            android:label="@string/tool_bar" />
        <activity
            android:name=".activity.toolbar.ZhiHuActivity"
            android:label="@string/zhi_hu"
            android:theme="@style/Theme.ZhiHu" />
        <activity
            android:name=".activity.navigation.SimpleDrawerActivity"
            android:label="@string/simple_drawer" />
        <activity
            android:name=".activity.navigation.SimpleNavigationDrawerActivity"
            android:label="@string/simple_navigation_drawer"
            android:theme="@style/Theme.Translucent.Navigation" />
        <activity
            android:name=".activity.navigation.CloudMusicActivity"
            android:theme="@style/Theme.Translucent.Navigation" />
        <activity android:name=".activity.navigation.NavigationDrawerAnimationActivity" />
        <activity android:name=".activity.translucent.TranslucentDemoActivity" />
        <activity android:name=".activity.toolbar.ToolDemoActivity" />
        <activity android:name=".activity.navigation.NavigationDemoActivity" />
        <activity
            android:name=".activity.cardview.CardViewDemoActivity"
            android:label="CardView" />
        <activity
            android:name=".activity.snackbar.SnackBarDemoActivity"
            android:label="SnackBar" />
        <activity
            android:name=".activity.bt.BarTabDemoActivity"
            android:label="AppBarLayout" />
        <activity
            android:name=".activity.collapsing.CollapsingDemoActivity"
            android:label="D_clock爱吃葱花" />
        <activity
            android:name=".activity.recycler.RecyclerDemoActivity"
            android:label="RecyclerView" />
        <activity android:name=".activity.bs.BottomSheetsDemoActivity" />
        <activity
            android:name=".activity.listview.ListViewDemoActivity"
            android:label="ListView" />
    </application>

</manifest>